absl-py==0.7.0
astor==0.6.2
bleach==1.5.0
bottle==0.12.9
click==6.7
certifi==2017.4.17
chardet==3.0.3
Flask==0.12.2
future==0.16.0
gast==0.3.3
grpcio==1.32.0
gunicorn==19.7.1
h5py==2.10.0
html5lib==0.9999999
itsdangerous==0.24
idna==2.5
Jinja2==2.9.6
Keras==2.1.5
line-bot-sdk==1.18.0
Markdown==2.6.11
MarkupSafe==0.23
numpy==1.16.0
opencv-python==3.4.0.12
oauthlib==3.0.0
pillow==5.0.0
protobuf==3.9.2
PyYAML==3.12
python-dotenv==0.7.1
requests==2.21.0
scipy==1.4.1
six==1.15.0
wheel==0.35
tensorboard==2.3.0
tensorflow-cpu==2.3.0
termcolor==1.1.0
urllib3==1.21.1
Werkzeug==0.14.1

